################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EstudoReact/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/EstudoReact/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/EstudoReact/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/EstudoReact/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/EstudoReact/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/EstudoReact/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
*.vsidx
/.vs/EstudoReact/v17/.suo
/.vs/EstudoReact/v17/DocumentLayout.backup.json
/.vs/EstudoReact/v17/DocumentLayout.json
/EstudoReact.Server/bin/Debug/net8.0/EstudoReact.Server.dll
/EstudoReact.Server/bin/Debug/net8.0/EstudoReact.Server.exe
/EstudoReact.Server/bin/Debug/net8.0/EstudoReact.Server.pdb
/EstudoReact.Server/obj/Debug/net8.0/ref/EstudoReact.Server.dll
/EstudoReact.Server/obj/Debug/net8.0/refint/EstudoReact.Server.dll
/.vs/EstudoReact/DesignTimeBuild/.dtbcache.v2
/.vs/EstudoReact/FileContentIndex/6520ab11-0be0-4b2b-a8ce-72cbc5f74bf5.vsidx
/.vs/EstudoReact/FileContentIndex/6d4740a3-0da4-4c54-95d5-5558fbae4829.vsidx
/.vs/EstudoReact/FileContentIndex/9fc63f64-5798-4871-9a13-bd5d93a6fe5a.vsidx
/.vs/EstudoReact/FileContentIndex/bdcd4a22-290c-4ae3-8872-3a62f3454eca.vsidx
/.vs/EstudoReact/FileContentIndex/d5275572-eeb6-41df-a741-f3401525713a.vsidx
/.vs/EstudoReact/v17/.futdcache.v2
/.vs/ProjectEvaluation/estudoreact.metadata.v9.bin
/.vs/ProjectEvaluation/estudoreact.projects.v9.bin
/EstudoReact.Data/bin/Debug/net8.0/EstudoReact.Data.dll
/EstudoReact.Data/bin/Debug/net8.0/EstudoReact.Data.pdb
/EstudoReact.Data/bin/Debug/net8.0/EstudoReact.Model.dll
/EstudoReact.Data/bin/Debug/net8.0/EstudoReact.Model.pdb
/EstudoReact.Data/obj/Debug/net8.0/ref/EstudoReact.Data.dll
/EstudoReact.Data/obj/Debug/net8.0/EstudoReact.Data.AssemblyInfo.cs
/EstudoReact.Data/obj/Debug/net8.0/EstudoReact.Data.AssemblyInfoInputs.cache
/EstudoReact.Data/obj/Debug/net8.0/EstudoReact.Data.csproj.AssemblyReference.cache
/EstudoReact.Data/obj/Debug/net8.0/EstudoReact.Data.dll
/EstudoReact.Data/obj/Debug/net8.0/EstudoReact.Data.pdb
/EstudoReact.Data/obj/Debug/net8.0/EstudoReact.Data.sourcelink.json
/EstudoReact.Data/obj/Debug/net8.0/refint/EstudoReact.Data.dll
/EstudoReact.Model/bin/Debug/net8.0/EstudoReact.Model.dll
/EstudoReact.Model/bin/Debug/net8.0/EstudoReact.Model.pdb
/EstudoReact.Model/obj/Debug/net8.0/ref/EstudoReact.Model.dll
*.dll
/EstudoReact.Model/obj/Debug/net8.0/EstudoReact.Model.AssemblyInfo.cs
/EstudoReact.Model/obj/Debug/net8.0/EstudoReact.Model.AssemblyInfoInputs.cache
/EstudoReact.Model/obj/Debug/net8.0/EstudoReact.Model.pdb
/EstudoReact.Model/obj/Debug/net8.0/EstudoReact.Model.sourcelink.json
/EstudoReact.Server/bin/Debug/net8.0/EstudoReact.Data.pdb
/EstudoReact.Server/bin/Debug/net8.0/EstudoReact.Model.pdb
/EstudoReact.Server/bin/Debug/net8.0/EstudoReact.Service.pdb
/EstudoReact.Server/bin/Debug/net8.0/EstudoReact.Util.pdb
/EstudoReact.Server/obj/Debug/net8.0/apphost.exe
/EstudoReact.Server/obj/Debug/net8.0/EstudoReact.Server.AssemblyInfo.cs
/EstudoReact.Server/obj/Debug/net8.0/EstudoReact.Server.AssemblyInfoInputs.cache
/EstudoReact.Server/obj/Debug/net8.0/EstudoReact.Server.csproj.AssemblyReference.cache
/EstudoReact.Server/obj/Debug/net8.0/EstudoReact.Server.csproj.FileListAbsolute.txt
/EstudoReact.Server/obj/Debug/net8.0/EstudoReact.Server.pdb
/EstudoReact.Server/obj/Debug/net8.0/EstudoReact.Server.sourcelink.json
/EstudoReact.Server/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/EstudoReact.Server/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/EstudoReact.Service/obj/Debug/net8.0/EstudoReact.Service.AssemblyInfo.cs
/EstudoReact.Service/obj/Debug/net8.0/EstudoReact.Service.AssemblyInfoInputs.cache
/EstudoReact.Service/obj/Debug/net8.0/EstudoReact.Service.csproj.AssemblyReference.cache
/EstudoReact.Service/obj/Debug/net8.0/EstudoReact.Service.pdb
/EstudoReact.Service/obj/Debug/net8.0/EstudoReact.Service.sourcelink.json
/EstudoReact.Service/obj/Debug/net8.0/ref/EstudoReact.Service.dll
/EstudoReact.Service/obj/Debug/net8.0/refint/EstudoReact.Service.dll
/EstudoReact.Service/bin/Debug/net8.0/EstudoReact.Data.pdb
/EstudoReact.Service/bin/Debug/net8.0/EstudoReact.Model.pdb
/EstudoReact.Service/bin/Debug/net8.0/EstudoReact.Service.pdb
/EstudoReact.Service/bin/Debug/net8.0/EstudoReact.Util.pdb
/EstudoReact.Util/bin/Debug/net8.0/EstudoReact.Util.dll
/EstudoReact.Util/bin/Debug/net8.0/EstudoReact.Util.pdb
/EstudoReact.Util/obj/Debug/net8.0/ref/EstudoReact.Util.dll
/EstudoReact.Util/obj/Debug/net8.0/refint/EstudoReact.Util.dll
/EstudoReact.Util/obj/Debug/net8.0/EstudoReact.Util.AssemblyInfo.cs
/EstudoReact.Util/obj/Debug/net8.0/EstudoReact.Util.AssemblyInfoInputs.cache
/EstudoReact.Util/obj/Debug/net8.0/EstudoReact.Util.pdb
/EstudoReact.Util/obj/Debug/net8.0/EstudoReact.Util.sourcelink.json
/EstudoReact.Server/bin/Debug/net8.0/EstudoReact.Server.deps.json
/EstudoReact.Server/obj/Debug/net8.0/EstudoReact.Server.assets.cache
/EstudoReact.Server/obj/Debug/net8.0/EstudoReact.Server.csproj.CoreCompileInputs.cache
/EstudoReact.Server/obj/EstudoReact.Server.csproj.nuget.dgspec.json
/EstudoReact.Server/obj/project.assets.json
/EstudoReact.Server/obj/project.nuget.cache
